//https://bbbootstrap.com/snippets/modal-multiple-tabs-89860645
.container
  // Input Info from Scratch Modal
  #fromScratchModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='fromScratchModal' aria-hidden='true')
    .modal-lg.modal-dialog(role='document')
      .modal-content
        form(method='post' action='/')
          .modal-header.nav.nav-tabs.row.d-flex.justify-content-between.mx-1.mx-sm-3.mb-0.pb-0.border-0
            ul.nav.nav-tabs
              li.nav-item
                a#mortgage-tab.nav-link.active(data-toggle='tab' href='#mortgage' role='tab' aria-controls='mortgage' aria-selected='true') 1 Mortgage
              li.nav-item
                a#expenses-tab.nav-link(data-toggle='tab' href='#expenses' role="tab" aria-controls="expenses" aria-selected="false") 2 Expenses
              li.nav-item
                a#refinance-tab.nav-link(data-toggle='tab' href='#refinance' role="tab" aria-controls="refinance" aria-selected="false") 3 Refinance
              li.nav-item
                a#improvements-tab.nav-link(data-toggle='tab' href='#improvements' role="tab" aria-controls="improvements" aria-selected="false") 4 Improvements
              li.nav-item
                a#finalize-tab.nav-link(data-toggle='tab' href='#finalize' role="tab" aria-controls="finalize" aria-selected="false") 5 Finalize
          .line
          .modal-body.tab-content.p-0
            fieldset#mortgage.tab-pane.fade.show.active(role="tabpanel" aria-labelledby='mortgage-tab')
              .bg-light
                .progress
                  .progress-bar.bg-info.progress-bar-striped(role='progressbar' style='width: 20%' aria-valuenow='20' aria-valuemin='0' aria-valuemax='100')
                .form-group.row.p-3.md-form.form-sm
                  .col-6.floating-label
                    label(for='house_price') House Price
                    input.form-control.form-control-sm(min='1', id='house_price', name='house_price', type='number', value='600000', required)
                  .col-6.floating-label
                    label(for='downpayment') Downpayment
                    input.form-control.form-control-sm(min='0', id='downpayment', name='downpayment', type='number', value='200000', required)
                .form-group.row.pb-3.px-3.md-form.form-sm
                  .col-6.floating-label
                    //any percent value should be devided by 100 to use with API
                    label(for='interest') Interest Rate (%)
                    input.form-control.form-control-sm(min='0', max='100', step='0.01', id='interest', name='interest', type='number', value='3.50', required)
                  .col-6.floating-label
                    label(for='term') Term (Yrs)
                    input.form-control.form-control-sm(min='1', max='99', id='term', name='term', type='number', value='30', required)
                .form-group.row.pb-3.px-3
                  .col-6.floating-label
                    label(for='pay_start') Start Date
                    input.form-control.form-control-sm(id='pay_start', name='pay_start', type='date', value='2015-10-01', required)
                  .col-6.floating-label
                    label(for='pay_frequency') Payment Frequency
                    select.custom-select(id='pay_frequency', name='pay_frequency' required)
                      option(selected='', disabled) Choose One
                      option(value='weekly') Weekly
                      option(value='bi-weekly') Bi-Weekly
                      option(value='semi-monthly') Semi-Monthly
                      option(value='monthly', selected) Monthly
                .form-group.row.pb-3.px-3.md-form.form-sm
                  .col-6.floating-label
                    label(for='fees') Financing Fees
                    input.form-control.form-control-sm(min='1', id='fees', name='fees', type='number', value='2000', required)
                //.form-group.pb-5.px-3.row.justify-content-center.md-form.form-sm
                  button.btn.btn-secondary(type='button' disabled) Additional Payments +
            fieldset#expenses.tab-pane.fade(role="tabpanel" aria-labelledby='expenses-tab')
              .bg-light
                .progress
                  .progress-bar.bg-info.progress-bar-striped(role='progressbar' style='width: 40%' aria-valuenow='40' aria-valuemin='0' aria-valuemax='100')
                .form-group.row.p-3
                  .col-6
                    label(for='tax') Property Tax
                    input.form-control(min='1', id='tax', name='tax', type='number', value='6000', required)
                  .col-6
                    label(for='insurance') Property Insurance
                    input.form-control(min='1', id='insurance', name= 'insurance', type='number', value='2000', required)
                .form-group.row.pb-3.px-3
                  .col-6
                    //any percent value should be devided by 100 to use with API
                    label(for='appreciation') Property Appreciation (%)
                    input.form-control(min='0', max='100', step='0.01', id='appreciation', name='appreciation', type='number', value='3.00', required)
                  .col-6
                    //any percent value should be devided by 100 to use with API
                    label(for='tax_rate') Tax Rate (%)
                    input.form-control(min='0', max='100', step='0.01', id='tax_rate', name='tax_rate', type='number')
            fieldset#refinance.tab-pane.fade(role="tabpanel" aria-labelledby='refinance-tab')
              .bg-light
                .progress
                  .progress-bar.bg-info.progress-bar-striped(role='progressbar' style='width: 60%' aria-valuenow='60' aria-valuemin='0' aria-valuemax='100')
                .form-group.row.p-3
                  .col-6
                    label(for='refinance_name') Label
                    input.form-control(min='1', max='20', id='refinance_name', name='refinance_name', type='text')
                  .col-6
                    label(for='start_balance') Starting Balance
                    input.form-control(min='1', id='start_balance', name='start_balance', type='number')
                .form-group.row.pb-3.px-3
                  .col-6
                    //any percent value should be devided by 100 to use with API
                    label(for='refinance_interest') Interest Rate (%)
                    input.form-control(min='0', max='100', step='0.01', id='refinance_interest', name='refinance_interest', type='number')
                  .col-6
                    label(for='refinance_term') Term (Yrs)
                    input.form-control(min='1', max='99', id='refinance_term', name='refinance_term', type='number')
                .form-group.row.pb-3.px-3
                  .col-6
                    label(for='refinance_pay_start') Start Date
                    input.form-control(id='refinance_pay_start', name='refinance_pay_start', type='date')
                  .col-6
                    label(for='refinance_pay_frequency') Payment Frequency
                    select.custom-select(id='refinance_pay_frequency', name='refinance_pay_frequency')
                      option(selected='', disabled) Choose One
                      option(value='weekly') Weekly
                      option(value='bi-weekly') Bi-Weekly
                      option(value='semi-monthly') Semi-Monthly
                      option(value='monthly') Monthly
                .form-group.row.pb-3.px-3
                  .col-6
                    label(for='refinance_fees') Financing Fees
                    input.form-control(min='1', id='refinance_fees', name='refinance_fees', type='number')
                //.form-group.pb-5.px-3.row.justify-content-center
                  button.btn.btn-secondary(type='button' disabled) Additional Payments +
                //.form-group.pb-5.row.justify-content-center
                  button.btn.btn-info.px-3(type='button') Save
                //.form-group.row.pb-5.px-3.justify-content-center
                  button.btn.btn-secondary(type='button' disabled) Add Refinance +
            fieldset#improvements.tab-pane.fade.default-input(role="tabpanel" aria-labelledby='improvements-tab')
              .bg-light.new-input-area
                .progress
                  .progress-bar.bg-info.progress-bar-striped(role='progressbar' style='width: 80%' aria-valuenow='80' aria-valuemin='0' aria-valuemax='100')
                .form-group.row.p-3
                  .col-12
                    p.mb-0.float-right Total Cost: $0.00
                .form-group.row.p-3
                  .col-6
                    label(for='improvement_name') Label
                    input.form-control(min='1', max='20', id='improvement_name', name='improvement_name[]' type='text', value='Something' required)
                  .col-5
                    label(for='improvement_cost') Cost
                    input.form-control(min='0.00', id='improvement_cost', name='improvement_cost[]', type='number', value='0.00' required)
              .form-group.mx-0.pb-3.px-3.row.justify-content-center.bg-light
                  button.btn.btn-secondary.add-new(type='button') Add Improvement +
            //.px-3
                .border.border-1.box
                  table.table.table-hover
                    thead.thead-light
                      tr
                        th(scope='col') Label
                        th(scope='col') Cost
                    tbody
                      tr
                        td Deck
                        td 10000
                      tr
                        td Roof
                        td 18000
                    tfoot
                      tr
                        td 
                          strong Total:
                        td $28000
            fieldset#finalize.tab-pane.fade(role="tabpanel" aria-labelledby='finalize-tab')
              .bg-light
                .progress
                  .progress-bar.bg-info.progress-bar-striped(role='progressbar' style='width: 100%' aria-valuenow='100' aria-valuemin='0' aria-valuemax='100')
                .form-group.row.p-3
                  .col-6
                    label(for='target_sell_price') Target Sell Price
                    input.form-control(min='0', id='target_sell_price', name='target_sell_price', type='number')
                  .col-6
                    label(for='baseline_return') Baseline Return Amount
                    input.form-control(min='0', id='baseline_return', name='baseline_return', type='number')
                .form-group.row.p-3.px-3
                  .col-6
                    //any percent value should be devided by 100 to use with API
                    label(for='commission') Realtor Commission (%)
                    input.form-control(min='0', max='100', step='0.01', id='commission', name='commission', type='number', value='7.00' required)
                  .col-6
                    label(for='legal') Legal Disbursements &amp; Fees
                    input.form-control(min='0', id='legal', name='legal', type='number', value='1000', required)
                .form-group.row.pb-3.px-3
                  .col-6
                    label(for='discharge_fees') Discharge Fees
                    input.form-control(min='0', id='discharge_fees', name='discharge_fees', type='number')
                  .col-6
                    label(for='transfer_tax') Transfer Tax
                    input.form-control(min='0', id='transfer_tax', name='transfer_tax', type='number')
                .form-group.pb-3.px-3.row.justify-content-center
                  input.btn.btn-finish.btn-fill.btn-success.btn-wd(type='submit' name='finish' value='Create Schedule')
          .line
          .modal-footer.info.d-flex.flex-column.justify-content-center.border-0
            //.float-right
              input.btn.btn-next.btn-fill.btn-success.btn-wd(type='button' name='next' value='Next')
              input.btn.btn-finish.btn-fill.btn-success.btn-wd(type='submit' name='finish' value='Create Schedule')
            //.float-left
              input.btn.btn-previous.btn-fill.btn-default.btn-wd(type='button' name='previous' value='Previous')
            //.clearfix