// https://mdbootstrap.com/snippets/jquery/mdbootstrap/818764#html-tab-view
// https://mdbootstrap.com/docs/standard/navigation/footer/
footer.footer.fixed-bottom.bg-light.text-center.text-lg-left(style="padding-top: 0.5rem;")
  .container-fluid
    .row
      .col-lg-8.col-md-12.mb-4.mb-md-0
        h5.text-uppercase Footer Text
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam voluptatem veniam, est atque cumque eum delectus sint!
      .col-lg-4.col-md-12.mb-4.mb-md-0.text-lg-right
        h5.text-uppercase Find Us On
        a(href='#')
          i.fa.fa-github-square.fa-3x
        a(href='#')
          i.fa.fa-linkedin-square.fa-3x.pl-4
        a(href='#')
          i.fa.fa-twitter-square.fa-3x.pl-4
      .container-fluid.text-center.p-3(style="background-color: rgba(0, 0, 0, 0.2);")
        i.far.fa-copyright 2020 Copyright ROI
          //a.text-dark(href='#') ROI