head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  meta(name="description" content="Return on Investment Schedule Generator")
  meta(name="author" content="Olena Makovey")
  title= title

  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' crossorigin='anonymous')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/css/fileinput.min.css' media='all' type='text/css')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' crossorigin='anonymous')

  link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')

  //link(rel='stylesheet' href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css')
  //link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
  
  link(rel='stylesheet', href='stylesheets/style.css')