head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  meta(name="description" content="")
  meta(name="author" content="Olena Makovey")
  title= title
  //link(href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css' rel='stylesheet')
  link( rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
  link(rel='stylesheet', href='stylesheets/style.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')