script(src='https://code.jquery.com/jquery-3.3.1.min.js' crossorigin='anonymous')
//script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
//POPPER old version vs. new version: https://popper.js.org/docs/v2/migration-guide/
//script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
//Development version
script(src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js")
//Production version
//script(src="https://unpkg.com/@popperjs/core@2")
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js' integrity='sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/js/fileinput.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/themes/fas/theme.min.js')

//My own font awesome link. Need to replace with regular font awesome.
script(src='https://kit.fontawesome.com/8fda1525a2.js' crossorigin='anonymous')

script(src='javascripts/file_upload.js')
script(src='javascripts/data_load.js')