extends layout

block content
  .container-fluid.Site-content
    h1= title
    p.centered Welcome to #{title}
    button.col-2.offset-md-5.align-self-center(type="submit" class="btn btn-primary" data-toggle="modal" data-target="#startModal") Start
    
    include modals/start
    include modals/from_scratch
    include modals/file_upload