@import "custom";
@import "../../node_modules/bootstrap/scss/bootstrap";

html,
body
  height: 100%

body 
  //margin-bottom: 60px;
  //margin-top: 60px
  
.Site
  display: flex;
  min-height: 100vh;
  flex-direction: column

.Site-content
  flex: 1;

main
  //Adjusting the bottom view area for a time being until I figure out a better way to do it.
  margin-bottom: 250px

h1
  margin-top: 100px;
  margin-bottom: 2rem !important

h1,
p.centered
  text-align: center

.line-clear
  border-color: #495057 #495057 #fff !important

.kv-hidden
    display: none !important;

.info
  color: #fff !important;
  background-color: #17a2b8 !important;
  border-color: #17a2b8 #17a2b8 !important

i.footer
  color: #6b6b6b

i.fa-angle-double-right,
i.fa-angle-double-left
  color: #007bff;
  font-size: 3rem

    
fieldset
    display: none

fieldset.show
    display: block

select:focus,
input:focus
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #2196F3 !important;
    outline-width: 0 !important;
    font-weight: 400

button:focus
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0

.nav-tabs
    margin: 2px 5px 0px 5px;
    padding-bottom: 10px;
    cursor: pointer

.nav-tabs:hover,
.nav-tabs.active
    border-bottom: 1px solid #2196F3

a:hover
    text-decoration: none;
    color: #1565C0

.box
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px

.modal-backdrop
    background-color: #64B5F6

.line
    background-color: #CFD8DC;
    height: 1px;
    width: 100%

@media screen and (max-width: 768px)
    .tabs h6
        font-size: 12px

.modal-body-footer
  margin-left: 15px !important;
  margin-right: 15px !important

.clearfix:after,
.clearfix:before
  display: table;
  content: " "

.clearfix:after
  clear: both

.card
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s

/* On mouse-over, add a deeper shadow */
.card:hover
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)

/* Add some padding inside the card container */
.container
  padding: 2px 16px

#copyright
  background-color: rgba(0, 0, 0, 0.2)
/*.footer
  position: absolute;
  bottom: 0;
  width: 100%;
  //height: 60px;
  //line-height: 60px;
  background-color: #f5f5f5;